<div id="<%= dom_id post %>">
  <p>
    <strong>Creator:</strong>
    <%= post.creator_id %>
  </p>

  <p>
    <strong>Post text:</strong>
    <%= post.post_text %>
  </p>

  <p>
    <strong>Context type:</strong>
    <%= post.context_type %>
  </p>

  <p>
    <strong>Pinned:</strong>
    <%= post.pinned %>
  </p>

</div>
